<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - {{domain}}</title>

    <link rel="icon" href="https://files.catbox.moe/9anhhp.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/ekmas/cs16.css@main/css/cs16.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/girlglock/cs2-crosshair@latest/remote-assets/static/crosshair-preview.min.css">
    <style>
        .player-info {
            color: {{colorRGB}};
        }

        .otag {
            display: none;
        }
    </style>
</head>

<body>
    <div class="cs-dialog">
        <div class="heading">
            <div class="wrapper">
                <div class="icon"></div>
                <p class="text">silly crosshair editor - girlglock.com</p>
            </div>
            <button class="cs-btn close" onclick="window.location.href='https://girlglock.com'"></button>
        </div>

        <header id="header">
            <div class="top">
                <div>
                    <div class="cs-form-group" style="margin: 50px 0">
                        <div class="player-info" style="scale: 1.5; margin-bottom: -7px;">{{playerInfo}}</div>
                        <div style="font-size: 1.3em; margin-top: 10px; margin-bottom: -7px;">{{stats}}</div>
                        <div style="font-size: 0.8em; margin-top: 10px; margin-bottom: -7px;">{{lastUsed}}</div>
                        <br>
                        <div
                            style="max-width: 100%; display: flex; margin: auto; gap: 1px; flex-wrap: wrap; align-items: center;">
                            <select id="searchType" class="cs-select" style="min-width: 20%; height: 24px;">
                                <option value="proplayer">Pro / Streamer</option>
                                <option value="steamvanity">Steam Vanity</option>
                                <option value="steamid64">SteamID64</option>
                                <option value="leetify">Leetify Handle</option>
                            </select>

                            <div id="inputContainer" style="position: relative; flex: 1; min-width: 150px;">
                                <div class="autocomplete-container">
                                    <input type="text" id="searchInput" class="cs-input" placeholder="<pro_player>"
                                        style="width: 100%; padding-left: 8px; box-sizing: border-box;" />
                                    <div id="autocompleteResults" class="autocomplete-results"></div>
                                </div>
                                <span id="inputPrefix" style="position: absolute;
                                        left: 1.5%;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        color: gray;
                                        pointer-events: none;
                                        user-select: none;">
                                </span>
                            </div>

                            <button class="cs-btn" style="flex: 0 0 auto;" onclick="goToSearch()">Search</button>
                        </div>

                        <br>

                        <hr class="cs-hr" />

                        <br>

                        <div class="crosshair-preview">
                            <div class="crosshair-image" id="crosshairImage">
                                <img id="originalImage" src="{{imageUrl}}" />
                                <canvas id="crosshairCanvas" width="64" height="64" style="display: none;"></canvas>
                            </div>
                            <div style="display: flex; justify-content: center; gap: 1px; margin-top: 5px">
                                <button class="cs-btn" onclick="prevBackground()">←</button>
                                <button class="cs-btn" onclick="nextBackground()">→</button>
                            </div>
                        </div>

                        <br>

                        <div>
                            <div class="controls-grid" style="margin-left: 5%;">
                                <div class="controls-column">
                                    <div class="control-group">
                                        <select id="cl_crosshairstyle" class="cs-select">
                                            <option value="2">Classic</option>
                                            <option value="4" selected>Classic Static</option>
                                        </select>
                                    </div>

                                    <div class="control-group">
                                        <div class="cs-slider">
                                            <div class="value">
                                                <p>0</p>
                                                <p>30</p>
                                            </div>
                                            <div class="ruler"></div>
                                            <input id="cl_crosshairsize" type="range" min="0" max="30" step="0.5"
                                                value="2" />
                                            <label for="cl_crosshairsize">Size</label>
                                        </div>
                                        <span class="cs-input__label" id="cl_crosshairsize_value">2</span>
                                    </div>

                                    <div class="control-group">
                                        <div class="cs-slider">
                                            <div class="value">
                                                <p>0.5</p>
                                                <p>5</p>
                                            </div>
                                            <div class="ruler"></div>
                                            <input id="cl_crosshairthickness" type="range" min="0.5" max="5" step="0.5"
                                                value="1" />
                                            <label for="cl_crosshairthickness">Thickness</label>
                                        </div>
                                        <span class="cs-input__label" id="cl_crosshairthickness_value">1</span>
                                    </div>

                                    <div class="control-group">
                                        <div class="cs-slider">
                                            <div class="value">
                                                <p>-10</p>
                                                <p>10</p>
                                            </div>
                                            <div class="ruler"></div>
                                            <input id="cl_crosshairgap" type="range" min="-10" max="10" step="1"
                                                value="-2" />
                                            <label for="cl_crosshairgap">Gap</label>
                                        </div>
                                        <span class="cs-input__label" id="cl_crosshairgap_value">-2</span>
                                    </div>

                                    <div class="control-group">
                                        <div class="cs-checkbox">
                                            <input type="checkbox" id="cl_crosshairusealpha" class="checkbox" checked>
                                            <label for="cl_crosshairusealpha" class="cs-checkbox__label">Use
                                                Alpha</label>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <div class="cs-checkbox">
                                            <input type="checkbox" id="cl_crosshairdot" class="checkbox">
                                            <label for="cl_crosshairdot" class="cs-checkbox__label">Center Dot</label>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <div class="cs-checkbox">
                                            <input type="checkbox" id="cl_crosshair_t" class="checkbox">
                                            <label for="cl_crosshair_t" class="cs-checkbox__label">T Style</label>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <div class="cs-checkbox">
                                            <input type="checkbox" id="cl_crosshair_drawoutline" class="checkbox"
                                                checked>
                                            <label for="cl_crosshair_drawoutline" class="cs-checkbox__label">Draw
                                                Outline</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="controls-column">
                                    <div class="control-group">
                                        <select id="cl_crosshaircolor" class="cs-select">
                                            <option value="0">Red</option>
                                            <option value="1">Green</option>
                                            <option value="2">Yellow</option>
                                            <option value="3">Blue</option>
                                            <option value="4">Cyan</option>
                                            <option value="5" selected>Custom Color</option>
                                        </select>
                                    </div>

                                    <div class="color-controls">
                                        <div class="control-group">
                                            <div class="cs-slider">
                                                <div class="value">
                                                    <p>0</p>
                                                    <p>255</p>
                                                </div>
                                                <div class="ruler"></div>
                                                <input id="cl_crosshaircolor_r" type="range" min="0" max="255" step="1"
                                                    value="50" />
                                                <label for="cl_crosshaircolor_r">Red</label>
                                            </div>
                                            <span class="cs-input__label" id="cl_crosshaircolor_r_value">50</span>
                                        </div>

                                        <div class="control-group">
                                            <div class="cs-slider">
                                                <div class="value">
                                                    <p>0</p>
                                                    <p>255</p>
                                                </div>
                                                <div class="ruler"></div>
                                                <input id="cl_crosshaircolor_g" type="range" min="0" max="255" step="1"
                                                    value="250" />
                                                <label for="cl_crosshaircolor_g">Green</label>
                                            </div>
                                            <span class="cs-input__label" id="cl_crosshaircolor_g_value">250</span>
                                        </div>

                                        <div class="control-group">
                                            <div class="cs-slider">
                                                <div class="value">
                                                    <p>0</p>
                                                    <p>255</p>
                                                </div>
                                                <div class="ruler"></div>
                                                <input id="cl_crosshaircolor_b" type="range" min="0" max="255" step="1"
                                                    value="50" />
                                                <label for="cl_crosshaircolor_b">Blue</label>
                                            </div>
                                            <span class="cs-input__label" id="cl_crosshaircolor_b_value">50</span>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <div class="cs-slider">
                                            <div class="value">
                                                <p>0</p>
                                                <p>255</p>
                                            </div>
                                            <div class="ruler"></div>
                                            <input id="cl_crosshairalpha" type="range" min="0" max="255" step="1"
                                                value="255" />
                                            <label for="cl_crosshairalpha">Alpha</label>
                                        </div>
                                        <span class="cs-input__label" id="cl_crosshairalpha_value">255</span>
                                    </div>

                                    <div class="control-group">
                                        <div class="cs-slider">
                                            <div class="value">
                                                <p>0</p>
                                                <p>3</p>
                                            </div>
                                            <div class="ruler"></div>
                                            <input id="cl_crosshair_outlinethickness" type="range" min="0" max="3"
                                                step="0.5" value="1" />
                                            <label for="cl_crosshair_outlinethickness">Outline Thickness</label>
                                        </div>
                                        <span class="cs-input__label" id="cl_crosshair_outlinethickness_value">1</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="code-section">
                            <input type="text" readonly id="crosshairCode" value="{{codeValue}}" class="cs-input"
                                style="width: 100%;" />
                        </div>
                        <br>
                        <p class="text">modify settings above to generate new codes, player cache expires every 3 hours
                        </p>
                        <menu class="footer-btns" style="position:relative;">
                            <button class="cs-btn" onclick="copyCode()">Copy</button>
                            <button class="cs-btn" onclick="downloadImage()">Save</button>
                            <button class="cs-btn" onclick="shareCrosshair()">Share</button>
                        </menu>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <script>
        const originalCode = '{{codeValue}}';
    </script>
    <!-- we do this to cut down on stuff sent from the server to the user :p -->
    <script
        src="https://cdn.jsdelivr.net/gh/girlglock/cs2-crosshair@latest/remote-assets/static/crosshair-preview.min.js">
    </script>
</body>

</html>